.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  margin: 0%;
  padding: 0%;
  text-align: center;
  background-image: url("https://img.wallpapersafari.com/desktop/1600/900/57/37/bPW5Go.jpg");
  margin-top: 50px;
}

.input1{
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  padding-left: 10px;
  font-weight: bold;
  font-size: large;
  border: 2px solid black;
}

.btn{
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid black;
  margin-left: 5px;
  background-color: aqua;
  font-weight: bold;
}

.btn1{
  background-color: yellow;
  margin: 1px;
  color: black;
  font-weight: bolder;
}

.btn2{
  background-color: black;
  margin: 2px;
  color: white;
}

.container{
  /* position: absolute;
  left: 30%; */
  margin: 30px;
  margin-top: 0px;
  width: 1100px;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  justify-content: space-between;
}

h2 {
  color: black;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  padding: 5px;
  background-color: orange;
  margin: 10px;
  margin-bottom: 0px;
}

.input{
  border: 2px solid black;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  font-size: large;
  font-weight: bold;
  padding-left: 8px;
}

.innercontainer{
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}