.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: grey;
}
.main-cont {
  text-align: center;
}

body{
  margin: 0%;
  padding: 0%;
  text-align: center;
  background-color: lightseagreen;
  margin-top: 50px;
}

.input1{
  border: none;
  box-shadow: 7px 7px 7px gray;
  border-radius: 10px;
  width: 250px;
  height: 30px;
 
}

.btn{
  width: 70px;
  height: 30px;
  border-radius: 10px;
 border: none;

}

.btn1{
  background-color: green;
  margin: 1px;
  color: white;
}

.btn2{
  background-color: red;
  margin: 2px;
  color: white;
}

.container{
  position: absolute;
  left: 30%;
  margin: 30px;
  width: fit-content;
  background-color:gainsboro;
  box-shadow: 5px 10px 5px gray;
}

.input{
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 30px;
}

.innercontainer{
  margin: 30px;
}